<a href="https://colab.research.google.com/github/KwonWooChan/ColabNoteBook/blob/master/DatatypeAndOperator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 문제 해결과 프로그래밍
## 2.2 자료형과 연산

## 학습목표
- **자료형**에 적합한 **변수**를 활용한 프로그램을 작성할 수 있다.
- 다양한 **연산자**를 활용한 프로그램을 작성할 수 있다.
- **표준 입출력**과 **파일 입출력**을 활용한 프로그램을 작성할 수 있다.

In [ ]:
#지난 학습 복습
print("hello world")
print('나는 공부를 잘해!')

## 1) 자료와 자료형


1.   자료 : 현실 세계로부터 관찰이나 측정을 통해 얻은 값
2.   자료형 : 자료를 특성에 따라 구분한 것


> - 숫자형 : 수로 표현해야 하는 자료
> - 문자형 : 문자로 표현해야 하는 자료
> - 참 거짓형 : 참과 거짓으로 판단해야 하는 자료

---
type()를 이용하여 자료형을 확인할 수 있다.

In [ ]:
a = 10
b = '10'
c = 10.2
d = True

print("type(a) = ", type(a))
print("type(b) = ", type(b))
print("type(c) = ", type(c))
print("type(d) = ", type(d))

## 2) 변수

1. 수시로 변하는 값을 기억하기 위해 사용하는 저장 공간
2. 한 번에 하나의 자료만 저장할 수 있음.
3. 자기만의 고유한 이름을 가져야함.

In [ ]:
# 수시로 변하는 값을 확인하자.
num = 10
print("time1 = ", num)
num = 15
print("time2 = ", num)

In [ ]:
#고유한 이름을 가져야함.
#error 이유
print(num2)

In [ ]:
# 세 개의 변수 a,b,c를 이용한 덧셈 연산
a = 50
b = 20
c = a + b
print(a, b, c)

변수의 활용
1. 파이선 언어로 만든 프로그램에서는 변수가 어떤 자료형인지 정해 주지 않고 바로 숫자형 자료를 저장해서 사용함.

2. C 언어, 자바 등의 일부 프로그래밍 언어는 정해진 자료형에 해당하는 자료만 저장해야 하는 엄격한 규칙을 가짐.

3. 이미 저장된 자료가 있는 변수에 새로운 자료를 저장하면, 기존에 저장되어 있던 자료는 지워지고 새로운 자료가 저장됨.

In [ ]:
#연습해보기

## 3) 산술 연산자와 대입 연산자

### 연산자란
1. 변수나 자료를 대상으로 연산하는 방법을 정의해 놓은 것
2. 목적에 따라 **산술 연산자**, **대입 연산자**, **비교 연산자**, **논리 연산자** 등이 있음.

In [ ]:
#산술연산자
#1. 더하기 : +

#2. 빼기 : -

#3. 곱하기 : *

#4. 나누기 : /

#5. 제곱 : **

#6. 몫 : //

#7. 나머지 : %

In [ ]:
#대입 연산자
#저장 : =

In [ ]:
#연산자 우선순위

In [ ]:
#해보기 1
a = 6
b = 3
c = a + b
d = a - b
print(c)
print(d)
d = d - c
print(d)

In [ ]:
#해보기 2
x = 10
y = 20
z = y/x
y = x
x = (y%z)+1

In [ ]:
#해보기 3
a = 7
b = 6
c = a * b
b = c - a
a = (c % b) + (c - b)
print(a)
print(b)
print(c)

In [ ]:
#해보기 4
x = 17
y = 20
t = x
x = y
y = t
print(x)
print(y)

In [ ]:
#해보기 5
s = 0
s = s + 1
s = s + 2
s = s + 3
s = s + 4
s = s + 5
s = s + 6
s = s + 7
print(s)

In [ ]:
#해보기 6
x = 22
y = 6
z = x % y
print(z)
z = x + z
y = z - y
x = z + y * 2
print(x)
print(y)
print(z)

## 4) 변수와 연산자를 이용한 프로그램 작성
### 빵값 계산 프로그램
- 빵의 단가는 800원이고, 구매 개수는 10개이다.
- 전체 빵값은 '빵의 단가 x구매 개수'로 계산한다.
- 전체 빵값의 10%를 할인해 준다.



```
price = 800
count = 10
total = price * count
total = total - total * 0.1
print("전체 빵값 : ", total)
```
> 전체 빵값 : 7200

---

- 빵의 단가(800)와 빵의 개수(10)가 고정되어 있어서 빵을 구매하는 상황이 변하면 원본 프로그램 코드를 수정해야 하는 문제점이 있음.
- 빵을 구매하는 상황이 변해도 빵값을 계산할 수 있도록 프로그램이 수정되어야 함.

## 5) 표준 입출력
표준입력 : 본 입력 장치를 통해 자료를 입력받는 것 

표준 출력 : 기본 출력 장치를 통해 결과를 보여 주는 것 

파이선에서의 표준 입출력 : 파이선에서는 표준 입출력을 사용하기 위해 input()과 print() 명령어를 사용함.

In [ ]:
#빵값 구하기 프로그램
price = int(input("빵값을 입력 : "))
count = int(input("빵의 개수를 입력 : "))
total = price * count
total = total - total * 0.1
print("전체 빵값 : ", total)

In [ ]:
# 체질량 지수를 구하는 프로그램
'''
체질량 지수(BMI)는
(몸무게 /(키 * 키)) 10000

저체중 : 20 미만
정상 : 20 - 24
과체중 : 25 - 29
비만 : 30 이상
'''

## 6) 파일 입출력

- 파일에 저장되어 있는 자료를 읽어 들여 처리하고, 그 결과를 다시 파일에 저장하는 것
- 대량의 자료를 처리해야 하는 경우에 적합함.

[학습링크](https://colab.research.google.com/github/Tajyu/sm11/blob/master/ch04/ch4_03_file_io.ipynb)

## 과제) 행성까지의 거리-시간 계산 프로그램

천체 관측에 관심이 많은 철수는 지구에서 태양계의 다른 행성까지 이동하는 데 걸리는 시간을 계산해 주는 프로그램을 만들려고 한다. 지구에서 행성까지의 거리와 이동 속도를 입력하면 행성까지 가는 데 걸리는 시간을 자동으로 계산해 주는 프로그램 코드를 작성해 보자.


---

<p><strong><span style="font-size: 12pt;">&nbsp;</span></strong></p>
<p>&nbsp;</p>
<table class="__se_tbl_ext" style="width: 184pt; border-collapse: collapse;" border="0" width="245" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border: 1px solid windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">행성의</span><br /><span style="font-size: 12pt;">이름</span></strong></p>
</td>
<td class="xl66" style="border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">지구와의 거리</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">수성</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">9,170만 km</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">금성</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">4,189만 km</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">지구</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">-</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">화성</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">7,779만 km</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">목성</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">6억 2,832만 km</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">토성</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">12억 8,058만 km</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">천왕성</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">27억 1,973만 km</span></strong></p>
</td>
</tr>
<tr style="height: 27.75pt; mso-height-source: userset;">
<td class="xl67" style="border-width: medium 1px 1px; border-style: none solid solid; border-color: windowtext; width: 64pt;" width="85" height="37">
<p align="center"><strong><span style="font-size: 12pt;">해왕성</span></strong></p>
</td>
<td class="xl67" style="border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: windowtext; width: 120pt;" width="160">
<p align="center"><strong><span style="font-size: 12pt;">43억 5,785만 km</span></strong></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

> 거리 = 시간 * 속력<br>
> 시간 = 거리 / 속력<br>
> 속력 = 거리 / 시간<br>

---
> 1 분 = 60초<br>
> 1 시간 = 60분<br>
> 1 일 = 24 시간<br>
> 1 달 = 30일<br>
> 1 년 = 365일<br>

In [ ]:
##만들기